/*
 * @Author: Tmac-1 
 * @Date: 2018-04-05 12:14:19 
 * @Last Modified by: Tmac-1
 * @Last Modified time: 2018-04-05 15:04:21
 */

 .content{
     width:500px;
     height:500px;
     background:#339966;
     font-size:30px;
 }